* {
    margin: 0;
}

body {
    background-color: rgb(224, 223, 223);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background-color: white;
    border: 1px solid rgb(178, 177, 177);
    margin: 20px;
    border-radius: 20px;
    height: 95%;
    width: 95%;
    display: flex;
}

.sidebox {
    padding: 30px 20px;
    border-right: 1px solid rgb(178, 177, 177);
    display: flex;
    flex-direction: column;
    width: 15%;
}

.brand {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 30px;
    color: black;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tabs a {
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    color: rgb(99, 98, 98);
    font-size: 15px;

}

.tabs a:hover,
.tabs a.active {
    color: black;
    background: rgba(198, 198, 198, 0.346);
}

.mainbox {
    padding: 30px 30px;
    border-right: 1px solid rgb(178, 177, 177);
    display: flex;
    flex-direction: column;
    width: 60%;
    overflow-y: auto;


}

.top {
    border-bottom: 0.5px solid rgb(178, 177, 177);
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top p {
    margin-top: 5px;
}

.top button {
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: black;
    height: 40px;
    width: 130px;
    position: relative;

}


.stats {
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin-top: 25px;
}

.box {
    width: 30%;
    height: 90px;
    border-radius: 15px;
    border: 0.5px solid rgb(178, 177, 177);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: center;
}

.box h2 {
    font-size: 020px;
}

.box p {
    font-weight: lighter;
    margin-bottom: 3px;
}

.history {
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin-top: 22px;
}

.box2 {
    width: 49%;
    height: 410px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 18px 26px;
    box-sizing: border-box;
}

.box2 h3 {
    font-size: 20px;
    margin: 5px 0 10px;
}

.box2 label {
    font-size: 16px;
    color: black;
}

.box2 input {
    width: 100%;
    height: 23px;
    margin: 7px 0 15px;
    border: 2px solid #ddd;
    border-radius: 7px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;

}

.box2 select {
    width: 100%;
    height: 35px;
    border: 2px solid #ddd;
    margin: 7px 0 15px;

    border-radius: 7px;
    padding-left: 10px;
    font-size: 16px;
    color: #777;
}

.box2 button {
    width: 100%;
    height: 34px;
    border: none;
    border-radius: 7px;
    background: #171717;
    color: white;
    font-size: 15px;
    padding: 3px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-bottom: 0.3px solid #ddd;
    padding-bottom: 10px;
}

.reportbox {
    padding: 30px 14px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.budget {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.budget div:first-child {
    display: flex;
    justify-content: space-between;
}

.budget div:first-child a {
    text-decoration: none;
    color: rgb(55, 92, 116);
}

.budget p{
    margin-top: 10px;
    font-size: 16px;
}

.bar{
    width: 100%;
    height: 5px;
    margin-top: 9px;
    border-radius: 4px;
    background-color: #b8b8b8;
}